@page "/"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Net;
@using System.Collections.ObjectModel;

@*@inject IHubContext<ChatHub, IChatHub> hub*@
@inject NavigationManager Navigation
@inject UserManager<IdentityUser> userManager

<AuthorizeView>
    <Authorized Context="authContext">
        <div class="row">

            <div class="col-6">
                <h2 class="mb-2"> Send message to <span class="text-primary fw-bolder">@selectedUser?.UserName </span></h2>

                <EditForm Model="message" OnSubmit="SendMessage">
                    <input @bind="message"/>
                    <input type="submit" value="Send"/>
                </EditForm>

                <hr/>
                <ul>
                    @if (_messages.Any())
                    {
                        foreach (var message in _messages)
                        {
                            <li class="alert-info mt-2">
                                <div class="col-4">
                                    <h5 class="text-warning fw-bolder mx-2">@message.SenderId</h5>
                                    <p class="fw-light text-black-50 mx-2">
                                        @message?.Content
                                    </p>

                                    <h6 class="text-info fw-bold mx-2"> @message.SentAt.ToShortTimeString()</h6>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <p>No messages</p>
                    }
                </ul>
            </div>
            <div class="col-6">
                @foreach (var user in _users)
                {
                    <div class="col-2 d-flex" style="display: inline;">
                        <h5>@user.UserName</h5>
                        <a class="btn btn-success text-white fw-bold" @onclick="() => SelectUser(user)">Select</a>
                    </div>
                }
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@code {

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    HubConnection? hubConnection;


    string? message = string.Empty;
    List<IdentityUser> _users = new();
    IdentityUser? selectedUser = default;
    ObservableCollection<Message> _messages = new();


    protected override async Task OnInitializedAsync()
    {
        var authenticateState = await authenticationStateTask!;
        var users = userManager.Users.Where(x => x.Email != authenticateState.User.Identity.Name);
        _users = new(users);

        var cookieContainer = new CookieContainer();
        var url = Navigation.ToAbsoluteUri("/chat");
        var cookie = new Cookie()
        {
            Name = ".aspnetcore.identity.application",
            Domain = url.Host,
            Value = CookieProvider.Cookie
        };
        cookieContainer.Add(cookie);

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chat"), options =>
            {
                options.Cookies = cookieContainer;

                options.HttpMessageHandlerFactory = (msg) =>
                {
                    if (msg is HttpClientHandler clientHandler)
                    {
                        clientHandler.ServerCertificateCustomValidationCallback +=
                            (sender, certificate, chain, sslPolicyErrors) => { return true; };
                    }

                    return msg;
                };
            })
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<Message>("Notification", (msg) =>
        {
            _messages.Add(msg);
            _messages = new(_messages.OrderBy(x => x.SentAt));
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<Message>("ForAll", (msg) =>
        {
            _messages.Add(msg);
            _messages = new(_messages.OrderBy(x => x.SentAt));
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }


    void SelectUser(IdentityUser user)
    {
        selectedUser = user;
        StateHasChanged();
    }


    async ValueTask SendTest()
    {
        var authenticateState = await authenticationStateTask!;


        var message = new Message()
        {
            SenderId = authenticateState?.User?.Identity?.Name,
            UserId = "17mk@esisalama.org",
            Content = "Test",
            Id = Guid.NewGuid()
        };


        await hubConnection.SendAsync("MessageThem", message);

    //await hub.Clients.User(message.UserId).Notification(message);
    }

    async Task SendMessage()
    {
        var authenticateState = await authenticationStateTask!;

        Message? message = new()
        {
            UserId = selectedUser?.Email,
            Content = this.message,
            SenderId = authenticateState.User.Identity.Name,
            SentAt = DateTime.Now,
            Id = Guid.NewGuid()
        };

        if (selectedUser is null)
        {
            await hubConnection?.SendAsync("ToAll", message);
        }
        else
        {
            await hubConnection?.SendAsync("MessageThem", message);
        }

        this.message = string.Empty;
        await InvokeAsync(StateHasChanged);
    }

}