@inherits LayoutComponentBase


<AuthorizeView>
    <NotAuthorized>
        <PageTitle> UnAuthorized</PageTitle>
        <main>
            <h1>You're no authorized to access this resources</h1>
        </main>
        <Redirect/>
    </NotAuthorized>

    <Authorized>
        <PageTitle>BlazorApp-Adance-signalR</PageTitle>

        <div class="page">
            <main>
                <div class="top-row px-4">
                    <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
                    <form method="post" action="Identity/Account/Logout">
                        <button type="submit" class="nav-link btn btn-link">Log out</button>
                    </form>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
</AuthorizeView>